
<app-tool-bar></app-tool-bar>
<section class="landing-intro landing-bg pt-5 pt-lg-6 pb-1">
  <div class="landing-intro-content container">
    <div class="row align-items-center mt-4">
      <div class="col-lg-5 mx-auto">
        <h2 class="font-weight-bold" style="font-size: 2.3rem;">Sergio Mendez</h2>
        <h2 class="font-weight-bold" style="font-size: 1rem;">Backend Engineer, some Full-Stack, and entrepreneurhip.</h2>
        <p class="text-lg">With over eight years of experience as a backend developer, my expertise lies primarily in Node.js and cloud technologies. My journey in this field has equipped me with extensive knowledge of both SQL and NoSQL databases, and proficiency in scaling backends using serverless architectures, pub/sub models, and message queue tasks. My skill set also includes comprehensive testing methodologies.</p>
        <p class="text-lg">In the early stages of my career, I developed a solid technical foundation through my work with Ruby on Rails. Additionally, my entrepreneurial journey, marked by founding three companies, has not only refined my technical skills but also enhanced my business acumen and leadership qualities.</p>
      <p class="text-lg">
        <a href="mailto:smbaiges@gmail.com">smbaiges@gmail.com</a>
        +55 (11) 987713903
    </p>
    <p class="text-lg">
      Based in São Paulo - Brasil
  </p>
      </div>
      <div class="col-lg-5 d-none d-lg-flex mx-auto text-center">
        <div class="container">
          <div class="landing-intro-screenshot pb-3 row">
              <img src="assets/images/profile.jpeg" alt="Dark/Light Bootstrap Admin Template" class="img-fluid profile-image" />
          </div>
          <div class="row">
              <p class="text-lg" style="text-align: left;">Tech Stack:
                  <span class="badge badge-pill badge-primary"> Node.js</span>
                  <span class="badge badge-pill badge-primary">Javascript / Typescript</span>
                  <span class="badge badge-pill badge-primary">Microservices</span>

                  <span class="badge badge-pill badge-primary">Serverless Architecture</span>
                  <span class="badge badge-pill badge-primary">Apis</span>
                  <span class="badge badge-pill badge-primary">Security</span>
                  <span class="badge badge-pill badge-primary">Testing</span>
                  <span class="badge badge-pill badge-primary">Pub/Sub</span>
                  <span class="badge badge-pill badge-primary">Message Queues</span>
                  <span class="badge badge-pill badge-primary">CD/CI</span>
                  <span class="badge badge-pill badge-primary">Java/Kotlin</span>
                  <span class="badge badge-pill badge-primary">Google Cloud</span>
                  <span class="badge badge-pill badge-primary">Angular</span>
              </p>
          </div>
      </div>

      </div>
    </div>
  </div>
</section>

<app-latest-projects></app-latest-projects>
